<!-- code:web3-3 index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAuthn Example!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    Username:
    <br>
    <input type="text" name="username" id="email" placeholder="hoge@example.com">
    <br>
    <br>
    <button onclick="registerUser()">Register</button>
    <button onclick="LoginUser()">Login</button>
    <script>

        $(document).ready(function() {
            if (!window.PublicKeyCredential) {
                alert("Client not capable. Handle error.");
                return;
            }
        })

        function bufferDecode(base64URL) {
            const base64 = base64URL
                .replace(/\-/g, '+')
                .replace(/\_/g, '/');
            return Uint8Array.from(atob(base64), c => c.charCodeAt(0));
        }

        function bufferEncode(value) {
            return btoa(String.fromCharCode.apply(null, new Uint8Array(value)))
              .replace(/\+/g, "-")
              .replace(/\//g, "_")
              .replace(/=/g, "");
        }

        function registerUser() {
            username = $("#email").val()
            if (username === "") {
              alert("Please enter a username");
              return;
            }

            $.get(
                '/register/begin/' + username,
                null,
                function (data) {
                    return data
                },
                'json')
                .then((beginResponse) => {
                    console.log("beginResponse:", beginResponse);

                    beginResponse.publicKey.challenge = bufferDecode(beginResponse.publicKey.challenge);
                    beginResponse.publicKey.user.id = bufferDecode(beginResponse.publicKey.user.id);

                    //if (beginResponse.publicKey.excludeCredentials) {
                    //  for (var i = 0; i < beginResponse.publicKey.excludeCredentials.length; i++) {
                    //    beginResponse.publicKey.excludeCredentials[i].id = bufferDecode(beginResponse.publicKey.excludeCredentials[i].id);
                    //  }
                    //}

                    return navigator.credentials.create({
                        publicKey: beginResponse.publicKey
                    })
                })
                .then((credentialsResponse) => {
                    console.log("credentialsResponse:",credentialsResponse);

                    let attestationObject = credentialsResponse.response.attestationObject;
                    let clientDataJSON = credentialsResponse.response.clientDataJSON;
                    let rawId = credentialsResponse.rawId;

                    $.post(
                        '/register/finish/' + username,
                        JSON.stringify({
                            id: credentialsResponse.id,
                            rawId: bufferEncode(rawId),
                            type: credentialsResponse.type,
                            response: {
                              attestationObject: bufferEncode(attestationObject),
                              clientDataJSON: bufferEncode(clientDataJSON),
                            },
                          }),
                        function (data) {
                            return data
                        },
                        'json')
                        .then((finishResponse) => {
                            console.log("finishResponse:", finishResponse);
                        })
                })
                .then((success) => {
                    console.log("success:", success);
                    alert("successfully registered !")
                })
                .catch((error) => {
                  console.log("failed:", error)
                  alert("occur exception")
                })
        }
        
        function LoginUser() {
            username = $("#email").val()
            if (username === "") {
              alert("Please enter a username");
              return;
            }

            $.get(
                '/login/begin/' + username,
                null,
                function (data) {
                    return data
                },
                'json')
                .then((beginResponse) => {
                    console.log("beginResponse: ", beginResponse);

                    beginResponse.publicKey.challenge = bufferDecode(beginResponse.publicKey.challenge);
                    beginResponse.publicKey.allowCredentials.forEach(function (allowCredential) {
                        allowCredential.id = bufferDecode(allowCredential.id);
                    });

                    return navigator.credentials.get({
                        publicKey: beginResponse.publicKey
                    })
                })
                .then((getCredential) => {
                    console.log("getCredential: ", getCredential);

                    let authData = getCredential.response.authenticatorData;
                    let clientDataJSON = getCredential.response.clientDataJSON;
                    let rawId = getCredential.rawId;
                    let sig = getCredential.response.signature;
                    let userHandle = getCredential.response.userHandle;

                    $.post(
                        '/login/finish/' + username,
                        JSON.stringify({
                          id: getCredential.id,
                          rawId: bufferEncode(rawId),
                          type: getCredential.type,
                          response: {
                            authenticatorData: bufferEncode(authData),
                            clientDataJSON: bufferEncode(clientDataJSON),
                            signature: bufferEncode(sig),
                            userHandle: bufferEncode(userHandle),
                          },
                        }),
                        function (data) {
                          return data
                        },
                        'json')
                        .then((finishResponse) => {
                            console.log("finishResponse: ", finishResponse);
                        })
                })
                .then((success) => {
                    alert("successfully logged in " + username + "!")
                    return
                })
                .catch((error) => {
                  console.log(error)
                  alert("failed to login " + username)
                })
        }
    </script>
</body>
</html>
